.search-container button {
    margin-top: 6px;
    padding: 6px 12px;
    border: none;
    border-radius: 6px;
    background-color: white;
    color: #d32f2f;
    font-weight: bold;
    cursor: pointer;
}

.load-button {
    width: 100%;
    text-align: center;
    margin: 24px 0;
}

#load_more_button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    background-color: #d32f2f;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#load_more_button:hover {
    background-color: #b71c1c;
}

.overlay-close-button {
    position: absolute;
    right: 15px;
    background: transparent;
    border: none;
    font-size: 30px;
    color: #fff;
    cursor: pointer;
    z-index: 1100;
    font-weight: bold;
    filter: drop-shadow(0 4px 6px rgba(255, 255, 255, 0.3));
}

.overlay-close-button:hover {
    color: #b71c1c;
}

.overlay-prev-next-buttons {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    /* Abstand oben und unten */
    width: 100%;
}

.overlay-prev-button,
.overlay-next-button {
    background-color: #d32f2f;
    border: none;
    color: white;
    font-size: 20px;
    padding: 12px 18px;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    /* verhindern, dass sie kleiner werden */
    width: 50px;
    height: 50px;
}

.overlay-prev-button:hover,
.overlay-next-button:hover {
    background-color: #b71c1c;
    transform: scale(1.1);
}

.tab-buttons {
    display: flex;
    gap: 8px;
    margin: 12px 0;
    justify-content: center;
}

.tab-buttons button {
    flex: 1;
    padding: 10px;
    background-color: #bfbfbf;
    border-radius: 12px;
    border: 2px solid transparent;
    font-weight: bold;
    transition: 0.2s ease;
}

.tab-buttons button:focus {
    outline: 2px solid #d32f2f;
    outline-offset: 2px;
}

.tab-buttons button.active {
    background-color: #d32f2f;
    color: white;
    border-color: #b71c1c;
}

.tab-buttons {
    margin-bottom: 10px;
}

.tab-button {
    padding: 5px 10px;
    margin: 0 5px;
    border: none;
    background-color: #ccc;
    cursor: pointer;
    border-radius: 5px;
}

.tab-button.active {
    background-color: #888;
    color: white;
}